#expand {
  padding-right: 0.5rem;
}

#expand::after {
  display: none;
}

.challenge-card {
  border-radius: 16px;
  background-color: var(--white);
  padding: 0px;
  margin-bottom: 1rem;
}

.challenge-card-content {
  padding: 32px 26px;
}

#challenges .row .challenge-card{
  margin-bottom:0;
  margin-top: 24px !important;
}

#challenges-list .challenge-card {
  margin-bottom: 64px !important;
  margin-top: 0px;
}

.challenge-card-content .row:after {
  display: none;
}

.challenge-card-content:hover {
  cursor: auto;
}

.project-card-content {
  padding: 32px 32px;
  margin-left: 0px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.project-card-content:hover {
  cursor: auto;
}

#submit-comment {
  margin-top: 8px;
  align-self: flex-end;
}

.project-comment-content {
  padding: 32px 32px;
  margin-left: 0px;
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.comment {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 40px 1fr 20px;
  grid-template-rows: 40px auto;
  grid-template-areas: "image username blank-1" "blank-2 content like";
  align-items: center;
  column-gap: 16px;
}

.comment:not(:last-child) {
  margin-bottom: 16px;
}

.comment-date {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  margin-left: 16px;
}

.comment-like {
  align-self: flex-start;
  grid-area: like;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-heart {
  cursor: pointer;
  color: #4F4F4F;
}

.comment-heart.fas {
  color: #E25328;
}

.comment-actions:hover {
  cursor: pointer;
}

.challenge-card-image {
  margin: 0 0 0.5rem 0;
  width: 100%;
  max-height: 80vh;
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.challenge-card a {
  white-space: normal !important;
}

#challenge-name {
  font-size: 2rem;
  margin-top: 30px;
}

.challenge-tag {
  padding: 6px 8px;
  border-radius: 100px;
}

.related-challenge:hover {
  cursor: pointer;
}

.related-challenge-image-preview {
  border-radius: 8px;
  padding: 0 !important;
  object-fit: cover;
  max-width: 80px;
  min-width: 80px;
  min-height: 80px;
  max-height: 80px;
}

.project-card-image-preview {
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  min-width: 200px;
}

.no-projects-logo {
  height: 100px;
  width: 100%;
  position: relative;
}

.project-modal-team {
  border-radius: 50%;
}

#circle {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  margin-left: -50px;
}

#plane {
  color: #518bc4;
  opacity: 30%;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.3rem;
  margin-top: -2rem;
}

.share-image-preview {
  min-height: 200px;
  border-radius: 8px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 24px 0px;
}

#social-float {
  max-width: 350px;
}

.project-actions {
  display: flex;
  flex-direction: row;
}

.btn-danger {
  margin-left: 0.5em;
}

.btn-danger:hover {
  background-color: #e22f2f;
}

@media screen and (max-width: 1150px) {
  #social-float {
    max-width: 325px;
  }
  #social-float .related-challenge .col-8 {
    max-width: 65%;
  }
}

@media screen and (max-width: 1050px) {
  #social-float {
    max-width: 300px;
  }
}

@media screen and (max-width: 990px) {
  #social-float {
    max-width: 275px;
  }
  #social-float .related-challenge .col-8 {
    max-width: 63%;
  }
}

@media screen and (max-width: 920px) {
  #social-float {
    max-width: 250px;
  }
  #social-float .related-challenge .col-8 {
    max-width: 59%;
  }
}

@media screen and (max-width: 850px) {
  #social-float .related-challenge .col-8 {
    margin-left: 5px;
  }
}

@media screen and (max-width: 840px) {
  #social-float {
    max-width: 225px;
  }
  #social-float .related-challenge .col-8 {
    max-width: 54%;
  }
}

@media screen and (max-width: 780px) {
  #social-float .related-challenge .col-8 {
    margin-left: 0px;
  }
}

@media screen and (max-width: 769px) {
  .challenge-card-content #challenge-info {
    display: flex;
    width: 100%;
  }
  .challenge-card-content #challenge-info .challenge-creator {
    width: 50%;
  }
  .challenge-card-content #challenge-info .level {
    display: flex;
    justify-content: flex-end;
  }
  #social-float {
    max-width: 100%;
    left: -15px;
    position: relative !important;
    top: 0px !important;
  }
  #social-float .challenge-card .row {
    display: flex;
  }
  #social-float .related-challenge .col-8 {
    margin-left: 15px;
    width: 85%;
    max-width: 100%;
  }
  .challenge-card-content {
    width: 100vw;
    position: relative;
    left: -32px;
    overflow: hidden;
    background-color: white;
    padding-top: 0;
  }
  .challenge-card-content .challenge-card-image {
    width: 100vw;
    position: relative;
    left: -27px;
    border-radius: 0;
  }
  #social-float .challenge-card-content {
    left: 0px;
    background-color: transparent;
    padding-top: 32px;
  }
}

@media screen and (max-width: 715px) {
  #social-float .related-challenge .col-8 {
    width: 84%;
  }
}

@media screen and (max-width: 672px) {
  #social-float .related-challenge .col-8 {
    width: 83%;
  }
}

@media screen and (max-width: 635px) {
  #social-float .related-challenge .col-8 {
    width: 82%;
  }
}

@media screen and (max-width: 601px) {
  #social-float .related-challenge .col-8 {
    width: 81%;
  }
}

@media screen and (max-width: 570px) {
  #social-float .related-challenge .col-8 {
    width: 80%;
  }
}

@media screen and (max-width: 545px) {
  #social-float .related-challenge .col-8 {
    width: 79%;
  }
}

@media screen and (max-width: 520px) {
  #social-float .related-challenge .col-8 {
    width: 78%;
  }
}

@media screen and (max-width: 498px) {
  #social-float .related-challenge .col-8 {
    width: 77%;
  }
}

@media screen and (max-width: 478px) {
  #social-float .related-challenge .col-8 {
    width: 76%;
  }
}

@media screen and (max-width: 460px) {
  #social-float .related-challenge .col-8 {
    width: 75%;
  }
}

@media screen and (max-width: 442px) {
  #social-float .related-challenge .col-8 {
    width: 74%;
  }
}

@media screen and (max-width: 427px) {
  #social-float .related-challenge .col-8 {
    width: 73%;
  }
}

@media screen and (max-width: 412px) {
  #social-float .related-challenge .col-8 {
    width: 72%;
  }
}

@media screen and (max-width: 399px) {
  #social-float .related-challenge .col-8 {
    width: 71%;
  }
}

@media screen and (max-width: 386px) {
  #social-float .related-challenge .col-8 {
    width: 70%;
  }
}

@media screen and (max-width: 374px) {
  #social-float .related-challenge .col-8 {
    width: 69%;
  }
}

@media screen and (max-width: 363px) {
  #social-float .related-challenge .col-8 {
    width: 68%;
  }
}

@media screen and (max-width: 550px) {
  .challenge-card-content {
    left: -20px;
  }
}