.challenge-of-the-week {
border-radius: 16px;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
min-height: 340px;
padding: 5% 5%;
}

.input-contains-icon {
  font-family: "Poppins";
}

.input-contains-icon::-webkit-input-placeholder {
  font-family: "Poppins";
}

.input-control {
  font-family: "Poppins";
}



/* Override chosen css and cirrus transition */
.chosen-container-multi .chosen-choices:focus, .chosen-container-multi.chosen-container-active .chosen-choices {
  border-color: #3dabf0;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: var(--animation-duration);
}
.chosen-container-multi .chosen-choices {
  background-image: none;
  border: 1px solid #ddd;
  padding: .6rem 1.1rem;
  border-radius: 3px;
  transition: var(--animation-duration);
}
select[multiple].input-contains-icon + .chosen-container > .chosen-choices {
  padding-left: 2.75rem;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  transition: none;
}
.chosen-container .chosen-choices li.search-choice {
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border-color: #bbb;
}
.chosen-container-multi .chosen-choices li.search-choice a.search-choice-close {
  transition: none;
}
.chosen-container ul.chosen-results li.highlighted {
  background-image: none;
  background-color: var(--cirrus-primary);
}
