body {
	background-color: var(--cirrus-primary-light);
}

.land .pre {
	color: var(--grey-mid);
	font-family: 'Nunito Sans', sans-serif;
}

.land .impact { 
	color: var(--grey-dark);
}

.land {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: flex-end;
}

form > label:first-child:not(:last-child):not(.form-group-label),
form > label:not(:first-child):not(:last-child):not(.form-group-label) {
	margin: 0 .5rem ;
}

form > input:not([type=checkbox]):not([type=radio]):not([type=submit]) {
	box-sizing: border-box;
	border: none;
	border-bottom: 3px solid var(--grey-light);
	background: transparent;
	padding: .2rem;
}

form > input:not([type=checkbox]):not([type=radio]):not([type=submit]):focus {
	border-bottom: 3px solid var(--grey-dark);
	box-shadow: none;

	transition: border 0.25s ease-in;
}

.right > form > label {
	margin-top: 10px !important;
	font-weight: bold;
	color: var(--cirrus-primary);
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]), select {
	transition: 0.25s;
	color: var(--grey-dark);
}

section.gray-bkgd {
	background: var(--grey-dark);
	color: var(--grey-light);
}