.profile-card {
  background: var(--white);
  box-shadow: 0px 4px 16px rgba(202, 202, 202, 0.15);
  border-radius: 16px;
  padding: 40px;
}

.profile-bg {
  height: 200px;
  margin-top: -30px;
  margin-right: -30px;
  margin-left: -30px;
  border-radius: 16px;
  background-position: 50% 50%;
}

.skills-tag {
  margin: 5px;
}

.edit-profile-button {
  width: 34px;
  height: 34px;
  border-radius: 3px;
  background-color: #fff;
  background-size: 20px;
  transition: background-color 0.1s ease-in-out;
  display: inline-block;
  position: absolute;
  left: auto;
  top: 10px;
  right: 10px;
  bottom: auto;
}

.avatar {
  width: 150px;
  height: 150px;
  -webkit-box-flex: 0;
  margin-left: 10px;
  margin-right: 20px;
  background-color: var(--white);
}

.avatar-image {
  border: 5px solid var(--white);
  border-radius: 50%;
  min-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.profile-info {
  display: flex;
  margin-top: -50px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.profile-info-heading {
  margin-bottom: 2px;
  color: #54576f;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.edit-follow-button {
  align-self: center;
  margin-left: auto;
  margin-top: 10px
}

@media (max-width: 600px) {
  .edit-follow-button {
    margin-left: 16px;
    margin-right: 100px;
    margin-top: 16px;
  }
}

.profile-details {
  margin-top: 65px;
  margin-left: 20px;
  -webkit-box-flex: 1;
}

.profile-social {
  margin-top: 10px;
  margin-right: -5px;
  margin-left: -5px;
}

.prof-img {
  display: none;
}

.file-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
}

.prof-flex {
  justify-content: flex-start;
}

.prof-flex .file-buttons {
  margin-left: 2rem;
}

.col-3 .profile-card .level {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.col-3 .profile-card .share-social-icon {
  flex: 0;
}

.profile-card .frame__body .btn-primary {
  display: block !important;
  position: relative;
  float: none;
}

.user-follow {
  background-color: white;
  border-radius: 20px;
  position: relative;
}

.user-follow .avatar {
  width: 75px !important;
  height: 75px !important;
}

.user-follow .btn-follow {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
}

@media (max-width: 600px) {
  .prof-flex {
    flex-direction: column;
  }
  .prof-flex .file-buttons {
    margin-left: 0;
  }
}

/*==================================================
Entire Custom Tag
==================================================*/

.tag-container {
  position: relative;
  width: 100%;
  display: inline-grid;
  grid-template-rows: auto 10px;
  grid-template-areas: "input" "dropdown";
}

/*==================================================
Custom Tag Input + Chosen Item Display
==================================================*/

.tag-field {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  padding: .25rem 0.75rem;
  min-height: 1rem;
  overflow-x: hidden;
  flex-grow: 1;
  transition: 0.25s;
}

.tag-field-focus {
  border: #5aa3cf solid 1px;
  box-shadow: 0px 0px 0px 3px #b1ddf8;
}

.tag-input {
  width: 2rem !important;
  max-width: 100% !important;
  flex-grow: 1 !important;
  border: none !important;
  box-shadow: none !important;
  color: #5a5a5a !important;
  font-weight: 700 !important;
  font-family: Poppins, sans-serif !important;
  font-size: 1em !important;
}

.tag-input:focus {
  outline: none !important;
}

/*==================================================
Custom Tag Input Prediction Dropdown
==================================================*/

.tag-dropdown {
  position: absolute;
  min-height: 1.5rem;
  box-sizing: border-box;
  width: 100%;
  margin-top: -4px;
  z-index: 2;
  display: none;
  grid-area: dropdown;
  transition: box-shadow 0.25s;
}

.tag-field-focus+.tag-dropdown-focus {
  background-color: white;
  border: #5aa3cf solid 1px;
  border-top: 1px solid #eeeeee;
  box-shadow: 0px 3px 0px 0px #b1ddf8, 1px 2px 0 2px #b1ddf8, -1px 2px 0 2px #b1ddf8;
  border-radius: 0 0 4px 4px;
  display: block;
}

.dropdown-item {
  line-height: 3rem;
  padding-left: 0.5rem;
  background-color: white;
  cursor: pointer;
  color: #505050;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  font-size: 1em;
}

.dropdown-item:last-child {
  border-radius: 0 0 2.5px 2.5px;
}

.dropdown-item:hover, .dropdown-item:focus {
  outline: none;
  background-color: #5aa3cf;
  color: white;
}

/*==================================================
Custom Tag Input Chosen Items
==================================================*/

.chosen-item {
  margin: 0.2rem 0.2rem;
  padding: 0 0.75rem;
  background-color: #e2eefc;
  border-radius: 2rem;
  display: inline-flex;
  align-items: center;
  color: #505050;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  font-size: 1em;
}

.delete-button {
  height: 16px;
  width: 16px;
  margin-left: 0.5rem;
  cursor: pointer;
}