.profile-card {
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(202, 202, 202, 0.15);
  border-radius: 16px;
  padding: 40px;
}

.profile-bg {
  height: 200px;
  margin-top: -30px;
  margin-right: -30px;
  margin-left: -30px;
  border-radius: 16px;
  background-position: 50% 50%;
}

.skills-tag {
  margin: 5px;
}

.edit-profile-button {
  width: 34px;
  height: 34px;
  border-radius: 3px;
  background-color: #fff;
  background-size: 20px;
  transition: background-color 0.1s ease-in-out;
  display: inline-block;
  position: absolute;
  left: auto;
  top: 10px;
  right: 10px;
  bottom: auto;
}

.avatar {
  width: 150px;
  height: 150px;
  -webkit-box-flex: 0;
  margin-left: 10px;
  margin-right: 20px;
}

.avatar-image {
  border: 5px solid #ffffff;
  min-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.profile-info {
  display: flex;
  margin-top: -50px;
  margin-bottom: 10px;
}

.profile-info-heading {
  margin-bottom: 2px;
  color: #54576f;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.profile-details {
  margin-top: 65px;
  margin-left: 20px;
  -webkit-box-flex: 1;
}

.profile-social {
  margin-top: 10px;
  margin-right: -5px;
  margin-left: -5px;
}

.prof-img {
  display: none;
}

.file-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
}

.prof-flex {
  justify-content: flex-start;
}

.prof-flex .file-buttons {
  margin-left: 2rem;
}

.col-3 .profile-card .level {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.col-3 .profile-card .share-social-icon {
  flex: 0;
}

.profile-card .frame__body .btn-primary {
  display: block !important;
  position: relative;
  float: none;
}

@media (max-width: 600px) {
  .prof-flex {
    flex-direction: column;
  }

  .prof-flex .file-buttons {
    margin-left: 0;
  }
}
