@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

/* colour variables */
:root {	
	--orange: #d77d4d;
	--orange-pale: #e3af92;
	--blue: #499ad6;
	--blue-pale: #d8e4ed;

	--near-white: #f2f2f2;
	--grid-grey: #f0eeee;
	--grey-light: #f1efef;
	--grey-mid: #6c6c6c;
	--grey-dark: #2e2e2e;
}

* {
	box-sizing: border-box;
}

.header {
	margin-bottom: 0;
}

.header .header-nav a {
	text-transform: uppercase; 
	color: var(--grey-dark);
}

div.header {
	margin-top: 10px;
}

.logo {
	height: 60px;
}

section.gray-bkgd {
	background: var(--grey-dark);
	color: var(--grey-light);
}
