@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

/* colour variables */
:root {	
	--grid-grey: #f0eeee;
	--grey-light: #f1efef;
	--grey-mid: #6c6c6c;
	--grey-dark: #242424;

  --cirrus-primary: #3c8cc9 !important;
  --cirrus-primary-light: #c1d5e3 !important;
  --cirrus-text: #aacbe3!important;
  --cirrus-accent-border: #56a0d6 !important;
  --cirrus-accent-hover: #4286b8 !important;
}

* {
  box-sizing: border-box;
}

.header {
	margin-bottom: 0;
}

.header .header-nav a {
	text-transform: uppercase; 
	color: var(--grey-dark);
}

.header .header-nav a[class*="btn-primary"] {
	color: var(--cirrus-bg);
}

.nav-item.has-sub .nav-dropdown-link.btn-primary::after {
	border-color: var(--cirrus-bg);
}

div.header {
	margin-top: 10px;
}

.logo {
	height: 60px;
}

section.gray-bkgd {
	background: var(--grey-dark);
	color: var(--grey-light);
}
