@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

:root {
  --grid-grey: #f0eeee;
  --grey-light: #f1efef;
  --grey-mid: #6c6c6c;
  --grey-dark: #242424;

  --cirrus-primary: #3c8cc9;
  --cirrus-text: #aacbe3;
  --cirrus-primary-light: #c1d5e3;
  --cirrus-accent-border: #56a0d6;
  --cirrus-accent-hover: var(--grey-light);
  --cirrus-select-bg: #aacbe3;
  --cirrus-link-dark: var(--cirrus-primary);
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  background-color: var(--grey-light);
}

.frame {
  background-color: white;
  padding-top: 25px 0;
}

.placeholder img {
  height: 100px;
}

.header {
  margin-bottom: 0;
}

.header .header-nav a {
  text-transform: uppercase;
  color: var(--grey-dark);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: var(--cirrus-primary);
}

.header .header-nav a[class*="btn-primary"] {
  color: var(--cirrus-bg);
}

.nav-item.has-sub .nav-dropdown-link.btn-primary::after {
  border-color: var(--cirrus-bg);
  transition: border-color var(--animation-duration);
}

.nav-item.has-sub .nav-dropdown-link.btn-primary:hover::after {
  border-color: var(--cirrus-primary);
  transition: border-color var(--animation-duration);
}

div.header {
  margin-top: 10px;
}

.logo {
  height: 50px;
}

.tab-container li a {
  transition: var(--animation-duration);
}

.tab-container:hover li:hover a:hover {
  border-bottom: 2px solid var(--cirrus-primary);
}

.btn-primary {
  border: 2px solid var(--cirrus-primary);
  border-radius: 2px;
}

.btn-primary:hover {
  background: inherit;
  color: var(--cirrus-primary) !important;
}

.btn, [type=submit], button {
  transition: all var(--animation-duration);
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(60,140,201,.5);
}

.btn-grey {
  background-color: var(--grid-grey);
  border-color: var(--grid-grey);
  color: var(--grey-mid);
}

.btn-grey:hover {
  background-color: white;
  color: var(--cirrus-primary);
}

.frame__body .btn-primary:hover {
  background: white;
  color: var(--cirrus-primary);
}

button:focus, a:focus, input:focus {
  box-shadow: none;
}

footer {
  background-color: var(--grey-dark);
}

.footer-title-par {
  font-size: 1.5rem;
}

.content {
  margin-bottom: 0px;
}

.list-item:hover{
  color: var(--cirrus-primary);
}



/**
 * Front page banner
 */

#splash-img {
  position: relative;
}

#splash-img::before {
  content: "";
  background: url('https://picsum.photos/id/256/2000/697');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 80%;
  mask-image: linear-gradient(0deg, rgb(255, 255, 255) 80%, rgba(255,255,255,0) 100%);
  -o-mask-image: linear-gradient(0deg, rgb(255, 255, 255) 80%, rgba(255,255,255,0) 100%);
  -moz-mask-image: linear-gradient(0deg, rgb(255, 255, 255) 80%, rgba(255,255,255,0) 100%);
  -webkit-mask-image: linear-gradient(0deg, rgb(255, 255, 255) 80%, rgba(255,255,255,0) 100%);
  background-size: cover;
}

#splash-img > .hero-body {
  position: relative;
}

#splash-img > .hero-body > .content > h3 {
  font-weight: 200;
}

.header-margin {
  margin-top: 30px;
}



/**
 * Front Page Cards
 */

.card-container {
  min-height: 230px;
}

.card-body .content {
  position: relative;
  z-index: 1;
}

.pointer-cursor {
  cursor: pointer;
}

.tile__title {
  font-weight: bold;
  color: var(--cirrus-primary);
}

.tile__title > span{
  color: var(--grey-dark);
}

.card.u-flex-column.h-100.slide-up {
  padding-bottom: 1.5em;
}

.row [class^=col-]:not(.col-12) {
  padding: 0.5rem;
}

.tile.level.r {
  padding: 0.5rem 0px;
}

.tile__container > .tile__title > span {
  font-weight: 300;
}



/**
 * Challenge
 */

#challenge-frame {
  border-left: 5px solid var(--cirrus-primary);
  padding: 3%;
}

#challenge-frame > .row > p {
  border-top: 2px solid var(--grey-light);
  padding-top: 17px;
  margin-top: 18px;
}

.map-container {
  justify-items: center;
}

#geocoder {
  position: relative;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
  margin-left:10%;
}

#map {
  margin-top: 75px;
}

.form-section > label {
  font-weight: bold;
}

.form-section > label + p {
  margin-bottom: 6px;
  margin-top: 0;
}

.frame > .row > p {
  width: 100%;
}

.frame > .row > .img-upload {
  max-height: 40vh;
  width: auto;
}

#profile-block.card {
  padding: 15px;
}

.badges > a {
  display: inline;
}

.badges .modal img {
  height: 100px;
}

.badges a img {
  height: 25px;
  position: relative;
  top: 5px;
}

.frame .form-section {
  padding-bottom: 1.5rem;
}

@media only screen and (min-width: 769px) {
  .buttons {
    position: absolute;
  }
}
