body > *:not(.header) {
	margin: 0 20px;
}

section.block {
	margin-top: 40px;
}

.block {
	padding: 0% 7%; 
}

.block > h2 {
	text-transform: uppercase;
	color: var(--cirrus-primary);
}

.block > .card {
	padding: 20px;
	margin-top: 10px;
	border-left: 5px solid var(--cirrus-primary);
	width: 100%;
}

.block > .card .project {
	display: flex;
	flex-direction: row;
}

.block > .card .project:not(:last-child) {
	margin-bottom: 10px;
}

.block > .card .project > .info {
	margin-left: 10px;
}

.block > .card .project > .info > h4 {
	display: inline-block;
	color: var(--grey-dark);
}

.block > .card .project > img {
	height: 50px;
}

.block > .card > .challenge > h2 {
	text-transform: uppercase;
	color: var(--cirrus-primary-light);
}

.block > .card > .challenge > .card {
	padding: 0 10px;
	margin-top: 10px;
	border-left: 5px solid var(--cirrus-primary-light);
	width: 100%;
}

.block > .card > .challenge {
	padding:20px; 
}

.block > .card > .challenge > .card > .challenge-project > .project {
	padding: 20px;
	margin: 10px 0px;
	width: 100%;
}

.block > .card > .challenge > .card{
	padding-bottom: 4%; 
}

/* Solid border */
hr.solid {
	border-top: 3px solid var(--cirrus-primary-light);
	margin: 20px; 
}

.completion {
	font-size: 15px;
	padding-left: 5px;
	padding-top: 10px;   
	color: var(--cirrus-text);
}

.project-title h4{
	float: left; 
	padding-right: 10px; 
}

.project-title{
	display: inline-block; 
}

.block > .card .more {
	color: var(--cirrus-primary);
}

.block > .card .profile-info {
	display:flex;
	align-items: flex-start;
}

.block > .card .profile-info > span.label {
	font-weight: bold;
	margin-top: 0;
	margin-right: 6px;
}

.block > .card .profile-info > div.values {
	display: inline-flex;
	padding: 0;
	flex-flow: row wrap;
}

.block > .card .profile-info > div.values > * {
	margin: 0 3px;
}

.tag {
	padding: 5px;
	background-color: var(--grey-light);
	color: var(--cirrus-bg);
}