{% extends "base.html" %}

{% block head %}
<title>About | HackItForward</title>
{% endblock %}

{% block body %}
<space class="large"></space>
<div class="content" style="margin-bottom: 90px;">
  <h1 style="text-align: center">This is HackItFoward</h1>
  <div style="border-radius: 20px; background-color: white; height:50%; margin-top: 50px; text-align: center;">
    <img src="{{ static('img/humaans/peoplesitting.svg') }}" style="height: 50%; width: 50%;">
  </div>
  <div class="row level">
    <div class="col-6 level-content" style="padding: 20px">
      <h5>1. Work on challenges.</h5>
      <h5>2. Showcase your projects.</h5>
      <h5>3. Implement your solutions.</h5>
    </div>
    <div class="col-6" style="padding: 20px">
      <p>With the world shifting online as a result of the pandemic, many organizations
        with limited resources, most often nonprofits, are struggling with this difficult transition.
        HackItForward offers up-and-coming developers opportunities to help these organizations,
       giving them real-world experience, while making a meaningful impact on society.
    </p>
    </div>
  </div>

  <div class="level" style="margin-top: 100px;">
    <div class="level-content level-item">
      <h2>Meet the People behind the Initiative</h2>
    </div>
  </div>
  <div>
    <p>We are a small team part of a larger nonprofit organization known as <a href="https://kurius.ca" rel="noopener" target="_blank">Kurius,</a> with the goal to empower the youth to change the world with technology.</p>
  </div>
  <div class="row">
    <div class="col-3">
    <div class="team-photo" style="background-image: url({{ static('img/team/stevengong.png') }})">
        <div class="team-name">
          <div style="font-size: 14px;">
            <strong class="font-alt">Steven Gong</strong>
          </div>
          <div style="font-size: 12px" class="font-alt">President and Developer</div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="team-photo" style="background-image: url({{ static('img/team/louisfy.jpeg') }})">
        <div class="team-name">
          <div style="font-size: 14px;">
            <strong class="font-alt">Louis Friedland-Yust</strong>
          </div>
          <div style="font-size: 12px" class="font-alt">Community Coordinator</div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="team-photo" style="background-image: url({{ static('img/team/ishita.jpg') }})">
        <div class="team-name">
          <div style="font-size: 14px;">
            <strong class="font-alt">Ishita Wadhwa</strong>
          </div>
          <div style="font-size: 12px" class="font-alt">Partnership Coordinator</div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="team-photo" style="background-image: url({{ static('img/team/stevenguikal.jpg') }})">
        <div class="team-name">
          <div style="font-size: 14px;">
            <strong class="font-alt">Steven Guikal</strong>
          </div>
          <div style="font-size: 12px" class="font-alt">Developer</div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="team-photo" style="background-image: url({{ static('img/team/justinlu.jpg') }})">
        <div class="team-name">
          <div style="font-size: 14px;">
            <strong class="font-alt">Justin Lu</strong>
          </div>
          <div style="font-size: 12px" class="font-alt">Developer</div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="team-photo" style="background-image: url({{ static('img/team/aavasapkota.jpg') }})">
        <div class="team-name">
          <div style="font-size: 14px;">
            <strong class="font-alt">Aava Sapkota</strong>
          </div>
          <div style="font-size: 12px" class="font-alt">Developer</div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="team-photo" style="background-image: url({{ static('img/team/celesteluo.jpg') }})">
        <div class="team-name">
          <div style="font-size: 14px;">
            <strong class="font-alt">Celeste Luo</strong>
          </div>
          <div style="font-size: 12px" class="font-alt">Developer</div>
        </div>
      </div>
    </div>
  </div>
  <p>Check out our full team <a href="https://www.kurius.ca/team" rel="noopener" target="_blank">here.</a></p>
</div>
{% endblock %}
