{% extends "base.html" %}

{% block head %}
<title>Privacy Policy | HackItForward</title>
{% endblock %}

{% block body %}
<space class="large"></space>
<div class="content" style="margin-bottom: 90px;">
  <h1 class="u-text-center" style="margin-bottom: 40px;">Privacy Policy</h1>
  <ul>
    <li>HackItForward stores a small amount of data such as your username, your profile picture and other user-generated data on the platform when you create an account.</li>
    <li>Google and Github OAuth are used to facilitate the registration process.</li>
    <li>All data is stored securely on a cloud server hosted with Digital Ocean.</li>
    <li>You can request to have all of your data deleted from the system at any time by emailing info@kurius.ca</li>
  </ul>
</div>
{% endblock %}
