{% extends "base.html" %}

{% block head %}
<title>Terms of Service | HackItForward</title>
{% endblock %}

{% block body %}
<space class="large"></space>
<div class="content" style="margin-bottom: 90px;">
  <h1>Terms of Service</h1>
  <h6>By using the services provided to you on this website, you agree to abide by these terms. If you do not agree, you should not use the platform.</h6>
  <p>You agree to be respectful to others. You will not threaten or verbally abuse other members of the platform, use inapropriate language, or spam.</li>
  <p>You also agree to generate content that:</p>
  <ul>
    <li>Complies with all applicable laws and regulations including federal, provincial, or local laws;</li>
    <li>Provides accurate information about you and any organization with which you have a current or past affiliation; and</li>
    <li>Accurately represents your work and gives credit to others when appropriate or required.</li>
  </ul>
  <p>Should you violate any of our Terms of Service, we reserve the right to suspend or terminate your account. </p>
</div>
{% endblock %}
