{% extends "base.html" %}

{% block head %}
<title>{{ header }} | HackItForward</title>

<link rel="stylesheet" href="{{ static('vendor/chosen/chosen.min.css') }}">
<link rel="stylesheet" href="{{ static('css/explore.css') }}">
<link rel="stylesheet" href="{{ static('css/profile.css') }}">
{% endblock %}

{% block body %}
<div class="content" style="max-width: 1000px;">
  <div class="profile-card">
    <div class="content">
      <h2 class="text-primary">{{ header }}</h2>
      <span>Blue fields are mandatory.</span>
      {% if form.errors %}
        <p class="text-danger">There were errors in your form. Please correct them.</p>
      {% endif %}
      {% for error in form.non_field_errors() %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
    </div>
    <form action="." method="POST">
      {% csrf_token %}
      <div class="frame__body" style="overflow-y: initial">
        {% for field in form %}
            <h4 class="row {% if field.field.required %} text-primary{% endif %}" style="margin-bottom: 0;">
              {{ field.label_tag() }}
            </h4>
            <div class="row">
              <div class="col-12 form-selection">
                {{ field }}
                {% if field.help_text %}
                  <div class="faded font-thin">
                    {{ field.help_text }}
                  </div>
                {% endif %}
                {% for error in field.errors %}
                  <div class="text-danger">
                    {{ error }}
                  </div>
                {% endfor %}
              </div>
            </div>
        {% endfor %}
        {% if has_social_links_form %}
          <div class="row">
            {% with col_class=True %}
              {% include "social_link_form.html" %}
            {% endwith %}
          </div>
        {% endif %}
      </div>
      <div class="content">
        <input class="btn btn-primary u-pull-right" type="submit" value="{{ submit }}">
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ static('vendor/chosen/chosen.jquery.min.js') }}"></script>
<script>
  var simplemde = new SimpleMDE({ element: $("#id_description")[0] });
  $("#id_creators option[value='{{ request.user.profile.pk }}']").attr('selected', 'selected');
  $('select[multiple]').chosen({width: '100%', placeholder_text_multiple: ' ', placeholder_text_single: ' '});
</script>
{% endblock %}
