<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{{ static('img/favicon.ico') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ static('img/favicon/favicon-16x16.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ static('img/favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ static('img/favicon/favicon-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="512x512" href="{{ static('img/favicon/favicon-512x512.png') }}">
  <link rel="apple-touch-icon" type="image/png" href="{{ static('img/favicon/apple-touch-icon.png') }}">

  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cirrus-ui@0.5.5/dist/cirrus.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />

  {% block head %}
  {% endblock %}

  <link href="{{ static('css/style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="header unselectable header-animated header-clear">
    <div class="header-brand">
      <div class="nav-item">
        <a href="{{ url('index') }}">
          <img src="{{ static('img/logo.png') }}" class="logo" alt="HackItForward">
        </a>
      </div>

      <!-- Hambuger Menu -->
      <div class="nav-item nav-btn" id="header-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="header-nav" id="header-menu">
      <div class="nav-right">
        <div class="nav-item">
          <a href="{{ url('explore') }}">Explore</a>
        </div>
        {% if request.user.is_authenticated %}
          <div class="nav-item has-sub btn-container" id="dropdown">
            <a class="nav-dropdown-link">Create</a>
            <ul class="dropdown-menu" role="menu">
              {% if request.user.has_perm('app.add_challenge') %}
                <li role="menu-item"><a href="{{ url('challenge_create') }}">Challenge</a></li>
              {% endif %}
              <li role="menu-item"><a href="{{ url('project_create') }}">Project</a></li>
            </ul>
          </div>
          <div class="nav-item has-sub btn-container" id="dropdown">
            <a class="nav-dropdown-link btn-primary">Welcome, {{ request.user.username }}</a>
            <ul class="dropdown-menu" role="menu">
              <li role="menu-item"><a href="{{ url('home') }}">Dashboard</a></li>
              <li role="menu-item"><a href="{{ url('edit_profile') }}">Edit Profile</a></li>
              <li role="menu-item"><a href="{{ url('logout') }}">Logout</a></li>
            </ul>
          </div>
          {% else %}
          <div class="nav-item btn-container">
            <a href="{{ url('login') }}" class="btn--pilled btn-primary btn-animated">Login</a>
          </div>
        {% endif %}
      </div>

    </div>
  </div>

  {% block body %}
  {% endblock %}

  <footer>
    <div class="content">
      <div class="row level">
          <div class="col-3">
            <ul class="no-bullets">
              <p class="footer-list-title">Navigation</p>
              <a href="{{ url('index') }}">
                <li class="list-item">Home</li>
              </a>
              <a href="/about">
                <li class="list-item">About</li>
              </a>
            </ul>
          </div>
          <div class="col-3">
            <ul class="no-bullets">
              <p class="footer-list-title">More</p>
              <a href="https://github.com/KuriusMTL/HackItForward/issues/new?labels=bug&template=bug_report.md" target="_blank" rel="noopener">
                <li class="list-item">Report a bug</li>
              </a>
              <a href="/terms">
                <li class="list-item">Terms of Service</li>
              </a>
            </ul>
          </div>
        <div class="col-6 level-items">
            <h5 class="white">
            <span class="faded">&copy; 2020</span>
            <a href="{{ url('index') }}" class="expand">HackItForward</a>
            </h5>
            <p class="white font-alt">Powered by <a class="u u-LR" href="https://kurius.ca" target="_blank" rel="noopener">Kurius</a></p>
        </div>
      </div>
    </div>
  </footer>

  <script src="{{ static('js/base.js') }}"></script>

  {% block scripts %}
  {% endblock %}

</body>
</html>
