{% extends "initiative.html" %}

{% block buttons %}
{% if initiative.is_open() %}
  <a class="btn btn-primary" href="{{ url('project_challenge_create', pk=initiative.pk) }}">
    <i class="fas fa-plus"></i>&nbsp; Create Project
  </a>
{% endif %}
{{ super() }}
{% endblock %}

{% block topright %}
<div class="modal modal-animated--zoom-in" id="share-modal">
  <a href="#searchModalDialog" class="modal-overlay close-btn" aria-label="Close"></a>
  <div class="modal-content" style="min-width: 500px; border-radius: 16px;">
      <div class="modal-body">
      {% if initiative.image %}
        <div class="share-image-preview" style="background-image: url({{ initiative.image.url }})"></div>
      {% else %}
        <div class="share-image-preview" style="background-image: url({{ static('img/polar-bear-2.png') }})"></div>
      {% endif %}
      <h3 class="u-text-center">Share This Challenge</h3>
        <div class="row">
          <a class="clipboard-btn share-social-icon level-content level-item">
            <i class="fas fa-link fa-lg" style="color: #868686;"></i>
          </a>
          <a onclick="shareOnFB(window.location.href.toString())" class="share-social-icon level-content level-item">
            <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>
          </a>
          <a onclick="shareOnTwitter(window.location.href.toString())" class="share-social-icon level-content level-item">
            <i class="fab fa-twitter fa-lg"></i>
          </a>
          <a onclick="shareOnLinkedIn(window.location.href.toString())" class="share-social-icon level-content level-item">
            <i class="fab fa-linkedin fa-lg"></i>
          </a>
          <a onclick="shareOnReddit(window.location.href.toString())" class="share-social-icon level-content level-item">
            <i class="fab fa-reddit fa-lg"></i>
          </a>
        </div>
      </div>
  </div>
</div>
<a href="{{ url('project_challenge_create', pk=initiative.pk) }}" class="u-center">
  <button class="btn-primary btn--pilled" style="width: 100%;">Create Solution</button>
</a>
<a href="#share-modal" class="font-bold u-center" style="margin: 20px 0;">Share Challenge &nbsp;<i class="fas fa-share"></i></a>
{% endblock %}


{% block related %}
<h4 style="margin-top: 32px;">Related Challenges</h4>
{% endblock %}

{% block frames %}
<div class="row">
  <div class="col-8">
    <div class="tab-container tabs-large" style="">
      <ul>
        <li class="selected"><a class="" style="background-color:transparent;">Submissions</a></li>
        <li><a class=""style="background-color:transparent;">Comments</a></li>
      </ul>
    </div>
    {% for project in projects %}
    <div class="initiative-card" onclick="location.href=`{{ url('project', pk=project.pk) }}`">
      <div class="project-card-content row">
        {% if project.image %}
          <div class="project-card-image-preview col-3" style="background-image: url({{ project.image.url }})"></div>
        {% else %}
          <div class="project-card-image-preview col-3" style="background-image: url({{ static('img/polar-bear.png') }})"></div>
        {% endif %}

        <div class="col-7" style="padding-left: 32px;">
          <h3 class="">{{ project.name }}</h3>
          <p class="grey">{{ project.description|truncatechars(100) }}</p>

          <div class="row">
            <a href="">
              <img class="profile-icon vertical-align" src="{{ static('img/default_profile.jpg') }}"/>
            </a>
            <p style="font-weight: 500;" class="grey">{{ project.short_creators }}</p>
          </div>

        </div>
      </div>
    </div>
  {% else %}
  <div class="initiative-card">
    <div class="project-card-content u-text-center">
      <div class="no-projects-logo">
        <i id="plane" class="far fa-paper-plane fa-4x"></i>
        <span id="circle" class="circle" style="background-color: #ECF3FD;"></span>
      </div>
      <p class="grey">No projects have been posted to this challenge yet, be the first!</p>
      <a href="{{ url('project_challenge_create', pk=initiative.pk) }}" class="u-center">
        <button class="btn-primary btn--pilled">Submit Project</button>
      </a>
      <a class="font-bold" style="margin-top: 12px;">Share Challenge &nbsp;<i class="fas fa-share"></i></a>
    </div>
  </div>
  {% endfor %}
  </div>
</div>

<!-- <h4 style="text-align: center;">Challenge Contributions by Region</h4>
<div class="map-container w-100 h-50">
  <div id="map"></div>
  <script src="{{ static('js/heatmap.js') }}"></script>
</div>
<br>
<br> -->


{% endblock %}
