{% extends "base.html" %}
{% load static %}

{% block head %}
  <title>Explore | Stratus</title>
  <link rel="stylesheet" href="{% static 'vendor/chosen/chosen.min.css' %}">
  <script src="{% static 'vendor/chosen/chosen.jquery.min.js' %}"></script>
  <style>
    /* override chosen css and cirrus transition */
    .chosen-container-multi {
      height: 100%;
    }
    .chosen-container-multi .chosen-choices {
      background-image: none;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 10px;
      border: 1px solid #ddd;
    }
    .chosen-container li.search-choice {
      background-image: none;
    }
    .chosen-container-multi .chosen-choices li.search-field input[type=text] {
      font-family: "Nunito Sans";
      transition: none;
    }
    .chosen-container-multi .chosen-choices li.search-choice a.search-choice-close {
      transition: none;
    }
    .chosen-container ul.chosen-results li.highlighted {
      background-image: none;
      background-color: var(--cirrus-primary);
    }
  </style>  
{% endblock %}

{% block body %}
{% if not user.is_authenticated %}
  <div id="splash-img" class="hero h-70 hero-img parallax-img">
    <div class="hero-body">
      <div class="content u-text-center">
        <h1 class="uppercase title">Stratus</h1>
        <h3 class="sub-title faded">Conquer the world's challenges - together</h3>
      </div>
    </div>
  </div>
{% endif %}

<div class="content" id="challenges">
  {% for name in type %}
    {# searching options #}
    <form action=".">
      <input type="hidden" name="type" value="{{ name }}">
      <div class="row">
        <h1 class="header-margin">{{ name|title }}s</h1>
        <div class="col-12">
          <div class="input-control">
            <input type="text" name="q" class="input-contains-icon" placeholder="{{ name|title }} Search"
              {% if q %} value="{{ q }}" {% endif %} >
            <span class="icon"><i class="zmdi zmdi-search" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 w-40 ignore-screen level-item input-control form-group">
          <select class="form-group-input custom-multiple" name="tag" data-placeholder="Filter by Tags" multiple>
            {% for tag in tags %}
              <option value="{{ tag.name }}"
                {% if tag in selected_tags %} selected {% endif %}
                >{{ tag.name }}</option>
            {% endfor %}
          </select>
          <button class="form-group-btn btn-small" type="submit"><span class="icon"><i class="zmdi zmdi-search" aria-hidden="true"></i></span></button>
        </div>
      </div>
    </form>

    {# submission display #}
    <div class="row">
      {% if name == "challenge" %}
        {% for challenge in challenges %}
          <div class="col-4 pointer-cursor" onclick="location.href=`{% url 'challenge' pk=challenge.pk %}`">
            <div class="card u-flex-column h-100 slide-up">
              <div class="card-container">
                <div class="card-image" style="background-image: url({{ challenge.image.url }})"></div>
              </div>
              <div class="mobile-title">
                <div class="content">
                  <div class="tile">
                    <div class="tile__container">
                      <p class="tile__title">{{ challenge.name }}</p>
                      <p class="tile__subtitle">By {{ challenge.short_creators }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body content">
                <p>{{ challenge.description|truncatechars:48 }}</p>
              </div>
              <div class="card-footer content">
                {% for tag in challenge.tags.all|slice:':3' %}
                  <div class="tag white" style="background-color: {{ tag.color }}">{{ tag.name }}</div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {% if name == "project" %}
        {% for project in projects %}
          <div class="col-4 pointer-cursor" onclick="location.href=`{% url 'project' pk=project.pk %}`">
            <div class="card u-flex-column h-100 slide-up">
              <div class="card-container">
                <div class="card-image" style="background-image: url({{ project.image.url }})"></div>
              </div>
              <div class="mobile-title">
                <div class="content">
                  <div class="tile">
                    <div class="tile__container">
                      <p class="tile__title">{{ project.name }}</p>
                      <p class="tile__subtitle">By {{ project.short_creators }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body content">
                <p>{{ project.description|truncatechars:80 }}</p>
              </div>
              <div class="card-footer content">
                {% for tag in project.tags.all|slice:':3' %}
                  <div class="tag white" style="background-color: {{ tag.color }}">{{ tag.name }}</div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {# default message when empty #}
      {% if name == "project" and not projects or name == "challenge" and not challenges %}
        <div class="col-12">
          {% if q or selected_tags %}
            <p>No {{ name }}s matching your query have been found. Perhaps try {{ selected_tags|yesno:"selecting less tags,broadening your search" }}?</p>
          {% else %}
            <p>No {{ name }}s have been published yet.</p>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
<script>
  $(window).on('load', () => {
    $('.custom-multiple').chosen({
      width: '100%',
      no_results_text: 'No such tag:'
    });
  });
</script>
{% endblock %}
