<!-- homepage for the user -->
{% extends "base.html" %}
{% load static %}

{% block head %}
	{% comment %} 
	<!-- {% user.username %} | Home  -->
	{% endcomment %} 

	<title>Home</title>
	<link href="{% static 'css/userhome.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
	<section class="block">
		<h2>Explore</h2>
		<div class="card">
			<div class="form-group">
				<input type="text" class="form-group-input" placeholder="Search">
				<button class="form-group-btn"><i class="fa fa-search"></i></button>
			</div>
			<div class="challenge">
				<h2>CHALLENGE 1</h2>
				<div class="card">
					<p>Short description</p>
					<div class="challenge-projects">
						<div class="project">
							<img src="{% static 'img/logo.png' %}">
							<div class="info">
								<div class="project-title">
									<h4>Project One</h4> 
									<h4 class="completion">63%</h4>
								</div>
								<br>
								<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </span>
							</div>
							
						</div>
						<div class="project">
							<img src="{% static 'img/logo.png' %}">
							<div class="info">
								<div class="project-title">
									<h4>Project One</h4> 
									<h4 class="completion">63%</h4>
								</div>
								<br>
								<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </span>
							</div>
							
						</div>
					</div>
				</div>

				<h2>CHALLENGE 2</h2>
				<div class="card">
					<p>Short description</p>
					<div class="challenge-projects">
						<div class="project">
							<img src="{% static 'img/logo.png' %}">
							<div class="info">
								<div class="project-title">
									<h4>Project One</h4> 
									<h4 class="completion">63%</h4>
								</div>
								<br>
								<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </span>
							</div>
							
						</div>
						<div class="project">
							<img src="{% static 'img/logo.png' %}">
							<div class="info">
								<div class="project-title">
									<h4>Project One</h4> 
									<h4 class="completion">63%</h4>
								</div>
								<br>
								<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </span>
							</div>
							
						</div>
					</div>
				</div>
				

			</div>


			<div class="more">
				<p>more...</p>
			</div>
		</div>
	</section>
	

{% endblock %}
</html>