{% extends "base.html" %}
{% load static %}

{% block head %}
  <title>Explore | HackItForward</title>

  <link rel="stylesheet" href="{% static 'vendor/chosen/chosen.min.css' %}">
  <script src="{% static 'vendor/chosen/chosen.jquery.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/explore.css' %}">
{% endblock %}

{% block body %}
{% if not user.is_authenticated %}
  <div id="splash-img" class="hero h-70 hero-img parallax-img">
    <div class="hero-body">
      <div class="content u-text-center">
        <h1 class="uppercase title">Hack It Forward</h1>
        <h3 class="sub-title faded">Conquer the world's challenges - together</h3>
      </div>
    </div>
  </div>
{% endif %}

<div class="content" id="challenges">
  {% for name, object_list in objects.items %}
    {# searching options #}
    <form action=".">
      <input type="hidden" name="type" value="{{ name }}">
      <div class="row">
        <h1 class="header-margin">{{ name|title }}s</h1>
      </div>
      <div class="row">
        <div class="col-7">
          <div class="input-control">
            <input type="text" name="q" class="input-contains-icon" placeholder="{{ name|title }} Search"
              value="{{ q|default:"" }}">
            <span class="icon"><i class="zmdi zmdi-search" aria-hidden="true"></i></span>
          </div>
        </div>
        <div class="col-4">
          <div class="input-control">
            <select class="custom-multiple input-contains-icon" name="tag" data-placeholder="Filter by Tags" multiple>
              {% for tag in tags %}
                <option value="{{ tag.name }}"
                  {% if tag in selected_tags %} selected {% endif %}
                  >{{ tag.name }}</option>
              {% endfor %}
            </select>
            <span class="icon"><i class="zmdi zmdi-tag" aria-hidden="true"></i></span>
          </div>
        </div>
        <div class="col-1">
          <div class="input-control">
            <button class="btn" type="submit" style="margin-bottom: 0"><span class="icon"><i class="zmdi zmdi-search zmdi-hc-lg" aria-hidden="true"></i></span></button>
          </div>
        </div>
      </div>
    </form>

    {# submission display #}
    <div class="row">
      {% for object in object_list %}
        <div class="col-4 pointer-cursor" onclick="location.href=`{% url name pk=object.pk %}`">
          <div class="card u-flex-column h-100 slide-up">
            <div class="card-container">
              {% if object.image %}
                <div class="card-image" style="background-image: url({{ object.image.url }})"></div>
              {% else %}
                <div class="card-image" style="background-image: url({% static 'img/logo.png' %})"></div>
              {% endif %}
            </div>
            <div class="mobile-title">
              <div class="content">
                <div class="tile">
                  <div class="tile__container">
                    <p class="tile__title">{{ object.name }}</p>
                    <p class="tile__subtitle">By {{ object.short_creators }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body content">
              <p>{{ object.description|truncatechars:48 }}</p>
            </div>
            <div class="card-footer content">
              {% for tag in object.tags.all|slice:':3' %}
                <div class="tag white" style="background-color: {{ tag.color }}">{{ tag.name }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% empty %}
        <div class="col-12">
          {% if q or selected_tags %}
            <p>No {{ name }}s matching your query have been found. Perhaps try {{ selected_tags|yesno:"selecting less tags,broadening your search" }}?</p>
          {% else %}
            <p>No {{ name }}s have been published yet.</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div> 
<script>
  $(window).on('load', () => {
    $('.custom-multiple').chosen({
      width: '100%',
      no_results_text: 'No such tag:'
    });
  });
</script>
{% endblock %}