{% extends "base.html" %}

{% block head %}
<title>Explore | HackItForward</title>

<link rel="stylesheet" href="{{ static('vendor/chosen/chosen.min.css') }}">
<script src="{{ static('vendor/chosen/chosen.jquery.min.js') }}"></script>
{% endblock %}

{% block body %}
<div class="content" id="challenges">
  <div style="background-color: white; min-height: 300px;display: flex; justify-content: center; align-items: center;" class="u-text-center">
    <h1>Explore The Community</h1>
  </div>

  <!-- Project search bar -->
  <form action="." style="margin-top: 0.5rem;">
    <input type="hidden" name="type" value="project">
    <div class="row">
      <div class="col-12">
        <div class="input-control">
          <input type="text" name="q" class="input-contains-icon" placeholder="Search projects that have been submittted to various challenges"
            value="{{ q|default('') }}" style="border: none; border-radius: 100px; outline: none; font-family: Poppins;">
          <span class="icon"><i class="fas fa-search" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
  </form>

    {# submission display #}
    <div class="row">
      {% for project in projects %}
        <div class="col-4" style="padding: 0 0.75rem;">
          <div class="challenge-card" onclick="location.href='{{ url("project", pk=project.pk) }}'">
            {% if project.image %}
              <div class="card-img" style="background-image: url({{ project.image.url }})"></div>
            {% else %}
              <div class="card-img" style="background-image: url({{ static('img/fibonacci.png') }})"></div>
            {% endif %}
            <div class="card-description">
              <h1 class="challenge-card-title" style="margin-bottom: 5px; font-size: 20px;">{{ project.name }}</h1>
            </div>
            <hr noshade size="1" style="border-color: #F2F2F2;">

            <div class="card-description" style="padding: 0;">
              <div class="challenge-card-creators row">
                <a>
                  <img class="profile-icon challenge-card-profile-icon" src="{{ static('img/default_profile.jpg') }}"/>
                </a>
                <div class="u-text-left">
                  <p class="challenge-card-profile-text" style="font-size: 14px; margin-bottom: 0">
                  By&nbsp;<b class="">{{ project.short_creators }}</b>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% if not projects %}
        <div class="col-12">
          {% if q or selected_tags %}
            <p>No {{ name }}s matching your query have been found. Perhaps try {{ "selecting less tags" if selected_tags else "broadening your search" }}?</p>
          {% else %}
            <p>No {{ name }}s have been published yet.</p>
          {% endif %}
        </div>
      {% endif %}
    </div>
</div>
<script>
  $(window).on('load', () => {
    $('.custom-multiple').chosen({
      width: '100%',
      no_results_text: 'No such tag:'
    });
  });
</script>
{% endblock %}
