{% extends "base.html" %}

{% block head %}
<title>{{ initiative.name }} | HackItForward</title>

{% endblock %}

{% block body %}
<div class="content">
  {% block project_modal %}
  {% endblock %}
    <!-- TODO: Implement upvoting system in backend -->
    <!-- <i class="fa fa-caret-up" aria-hidden="true" style="font-size: x-large;"></i>
    <p>12</p>
    <i class="fa fa-caret-down" aria-hidden="true" style="font-size: x-large;"></i> -->

    <div class="row initiative-wrap">
      <div class="col-8">
        <div class="initiative-card">
          <div class="initiative-card-content">
            {% if initiative.image %}
              <div class="initiative-card-image" style="background-image: url({{ initiative.image.url }})"></div>
            {% else %}
              <div class="initiative-card-image" style="background-image: url({{ static('img/polar-bear-2.png') }})"></div>
            {% endif %}

            <h1 id="initiative-name">{{ initiative.name }}</h1>
            <div class="grey" style="font-weight: 400;">
              {{ initiative.description|mistune }}
            </div>
            <div class="row">
              <div class="col-12">
                {% if links.exists() %}
                  <div class="tile level r">
                    <div class="tile-avatar">
                      <span class="icon">
                        <i class="fas fa-link" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="tile__container">
                      <p class="tile__title">Links:
                      {% for link in links.all() %}
                        <a href="{{ link.content|e }}" class="tooltip" data-tooltip="{{ link.name }}"><i class="fab fa-{{ link.icon }}"></i></a>
                      {% endfor %}
                      </p>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>

            <div id="initiative-info" class="row" style="padding: 0; margin: 0; justify-content: space-between;">
              <a class="initiative-creator col-6" style="padding: 0; margin: 0" href="{{ url('user', username=initiative.creators.first().username) }}">
                <img class="profile-icon vertical-align" src="{{ initiative.creators.first().image.url }}"/>
                <p class="vertical-align" style="margin: 0; color:#4F4F4F;">By <b>{{ initiative.creators.first().username }}</b></p>
              </a>


              <div class="level col-4 offset-2" style="max-width: 50%; margin: 0; width: auto;">
                <a class="popup clipboard-btn share-social-icon level-content level-item" onclick="displayLinkCopied()">
                  <i class="fas fa-link fa-lg" style="color: #868686;"></i>
                  <span class="popuptext" id="copy-popup">Link copied!</span>
                </a>
                <a onclick="shareOnFB(window.location.href.toString())" class="share-social-icon level-content level-item">
                  <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>
                </a>
                <a onclick="shareOnTwitter(window.location.href.toString())" class="share-social-icon level-content level-item">
                  <i class="fab fa-twitter fa-lg"></i>
                </a>
                <a onclick="shareOnLinkedIn(window.location.href.toString())" class="share-social-icon level-content level-item">
                  <i class="fab fa-linkedin fa-lg"></i>
                </a>
                <a onclick="shareOnReddit(window.location.href.toString())" class="share-social-icon level-content level-item">
                  <i class="fab fa-reddit fa-lg"></i>
                </a>
                {% if initiative.can_edit(request.user) %}
                  <div class="nav-item has-sub" style="margin-right: -6px;">
                    <a class="nav-dropdown-link" style="color: #4F4F4F;" id="expand">
                      <i class="fas fa-ellipsis-h"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-animated" role="menu">
                        <li role="menu-item">
                          {% block buttons %}
                            <a class="" href="{{ initiative.get_edit_url() }}" style="color: #4F4F4F;">Edit</a>
                        {% endblock %}
                        </li>
                    </ul>
                </div>
                {% endif %}

                <!-- TODO: Implement bookmarking -->
                <!-- <a class="share-social-icon level-content level-item">
                  <i class="fas fa-bookmark fa-lg" style="color: #4F4F4F;"></i>
                </a> -->
              </div>
            </div>

          </div>

        </div>

        <p style="margin-left: 20px;">Created on {{ initiative.created }}</p>
      </div>
      <div class="col-3" style="margin-left: 16px;">
        <div style="position: absolute;" id="social-float">
          {% block topright %}
          {% endblock %}


          <!-- Tags -->
          {% block tags %}
          {% endblock %}

          {% block related %}
          {% endblock %}
        </div>
      </div>
    </div>
  <br>

  <div class="row">
    <div class="col-8">
      <div class="tab-container tabs-large">
        <ul>
          <li class="tablevel selected" onclick="openTab(event, 'submissions')"><a class="" style="background-color:transparent;">Submissions</a></li>
          <li class="tablevel" onclick="openTab(event, 'comments')"><a class="" style="background-color:transparent;">Comments</a></li>
        </ul>
      </div>
      <div class="row tabcontent" id="comments">
        <div class="initiative-card">
          <div class="project-card-content">
            <h5>Give Feedback</h5>
            <textarea type="text" name="comment" id="id_comment" class="comment-input" placeholder="Share your thoughts"></textarea>
            <div>
              <button id="submit-comment" class="u-pull-right btn--pilled btn-primary">Submit</button>
            </div>
            
            {% csrf_token %}
            {% for comment in initiative.comments.all() %}
            <div style="display:flex; align-items:center">
              <!-- <a href="{{ url('user', username=comment.profile.username) }}"></a> -->
                <div>
                  <img class="comment-profile-image" src="{{ profile.image.url }}"/>
                </div>
                <div>
                  <h6 style="margin: 0">{{ comment.profile.user.username}}</h6>
                </div>
            </div>
            <p style="margin-left: 40px">{{ comment.text }}</p>
            <p>{{ comment.humanized_date }}</p>
            {% endfor %}
  
          </div>
        </div>
      </div>
      {% block frames %}
      {% endblock %}

  </div>

</div>

<script>
  $("#submit-comment").on('click', function (e) {
    var comment = $("#id_comment").val();
    if (comment != "") {
      $.ajax({
        type: "POST",
        url: `/add_comment/`,
        data: {
          'comment': comment,
          'initiative_pk': {{ initiative.pk }},
          'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken').val(),
        },
        success: function() {
        location.reload()
        }
      })
    }
  });
  </script>
{% endblock %}