{% extends "base.html" %}

{% block head %}
<title>{{ initiative.name }} | HackItForward</title>
{% endblock %}

{% block body %}
<div class="content">
  <div class="row">
    <h2>{{ initiative.name }}</h2>
  </div>
  <div class="frame" id="challenge-frame">
    <div class="buttons">
      {% block buttons %}
        {% if initiative.can_edit(request.user) %}
          <a class="btn btn-primary" href="{{ initiative.get_edit_url() }}"><i class="zmdi zmdi-edit"></i> Edit</a>
        {% endif %}
      {% endblock %}
    </div>
    <div class="row">
      {% if initiative.image %}
        <img class="img-upload u-margin-auto" src="{{ initiative.image.url }}">
      {% else %}
        <img class="img-upload u-margin-auto" src="{{ static('img/logo.png') }}">
      {% endif %}
    </div>
    <div>
      {{ initiative.description|mistune }}
    </div>

    <div class="row">
      <div class="col-12">
        <!-- Challenge Tag -->
        {% if initiative.challenge %}
          <div class="tile level r">
            <div class="tile-avatar">
              <span class="icon">
                <i class="zmdi zmdi-tag" aria-hidden="true"></i>
              </span>
            </div>
            <div class="tile__container">
              <p class="tile__title">Challenge:
                <a href="{{ url('challenge', pk=initiative.challenge.pk) }}" class="tag black">{{ initiative.challenge.name }}</a>
              </p>
            </div>
          </div>
        {% endif %}

        <!-- Tags -->
        {% if initiative.tags.exists() %}
          <div class="tile level r">
            <div class="tile-avatar">
              <span class="icon">
                <i class="zmdi zmdi-tag" aria-hidden="true"></i>
              </span>
            </div>
            <div class="tile__container">
              <p class="tile__title">Tags:
                {% for tag in initiative.tags.all() %}
                  <a href="{{ url('index') }}?type={{ initiative|class_name|lower }}&tag={{ tag.name }}" class="tag white" style="background-color: {{ tag.color }}">{{ tag.name }}</a>
                {% endfor %}
              </p>
            </div>
          </div>
        {% endif %}

        <!-- Creators -->
        <div class="tile level r">
          <div class="tile-avatar">
            <span class="icon">
              <i class="zmdi zmdi-accounts-list" aria-hidden="true"></i>
            </span>
          </div>
          <div class="tile__container">
            <p class="tile__title">Creators:
              {% for creator in initiative.creators.all() %}
                <a href="{{ url('user', pk=creator.pk) }}" class="tag black">{{ creator.username }}</a>
              {% endfor %}
            </p>
          </div>
        </div>

        <!-- Contributors -->
        {% if initiative.contributors and initiative.contributors.exists() %}
          <div class="tile level r">
            <div class="tile-avatar">
              <span class="icon">
                <i class="zmdi zmdi-accounts-list" aria-hidden="true"></i>
              </span>
            </div>
            <div class="tile__container">
              <p class="tile__title">Contributors:
                {% for contributor in initiative.contributors.all() %}
                  <a href="{{ url('user', pk=contributor.pk) }}" class="tag black">{{ contributor.username }}</a>
                {% endfor %}
              </p>
            </div>
          </div>
        {% endif %}

        {% for timestamp in time_labels %}
          <div class="tile level r">
            <div class="tile-avatar">
              <span class="icon">
                <i class="zmdi zmdi-calendar-check" aria-hidden="true"></i>
              </span>
            </div>
            <div class="tile__container">
              <p class="tile__title">{{ timestamp.label }}:
                <span>{{ timestamp.time }}</span>
              </p>
            </div>
          </div>
        {% endfor %}

        <!-- Links -->
        {% if links.exists %}
        {% if links.exists() %}
          <div class="tile level r">
            <div class="tile-avatar">
              <span class="icon">
                <i class="zmdi zmdi-link" aria-hidden="true"></i>
              </span>
            </div>
            <div class="tile__container">
              <p class="tile__title">Links:
              {% for link in links.all() %}
                <a href="{{ link.href }}" class="tooltip" data-tooltip="{{ link.link.placeholder }}"><i class="zmdi zmdi-{{ link.link.icon }}"></i></a>
              {% endfor %}
              </p>
            </div>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
  <br>
  {% block frames %}
  {% endblock %}
</div>
{% endblock %}
