{% extends "base.html" %}

{% block head %}
<title>{{ initiative.name }} | HackItForward</title>

<link rel="stylesheet" href="{{ static('css/challenge.css') }}">
{% endblock %}

{% block body %}
<div class="content" style="margin-top: 110px;">
    <!-- TODO: Implement upvoting system in backend -->
    <!-- <i class="fa fa-caret-up" aria-hidden="true" style="font-size: x-large;"></i>
    <p>12</p>
    <i class="fa fa-caret-down" aria-hidden="true" style="font-size: x-large;"></i> -->

    <div class="row">
      <div class="col-8 initiative-card">
        <div class="initiative-card-content">
          {% if initiative.image %}
            <div class="initiative-card-image" style="background-image: url({{ initiative.image.url }})"></div>
          {% else %}
            <div class="initiative-card-image" style="background-image: url({{ static('img/polar-bear-2.png') }})"></div>
          {% endif %}
          <h1 id="initiative-name">{{ initiative.name }}</h1>
          <div style="font-weight: 400; color: #828282;">
            {{ initiative.description|mistune }}
          </div>
          <div class="row">
            <div class="col-12">
              <!-- Challenge Tag -->
              {% if initiative.challenge %}
                <div class="tile level r">
                  <div class="tile-avatar">
                    <span class="icon">
                      <i class="fas fa-tag" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="tile__container">
                    <p class="tile__title">Challenge:
                      <a href="{{ url('challenge', pk=initiative.challenge.pk) }}" class="tag black">{{ initiative.challenge.name }}</a>
                    </p>
                  </div>
                </div>
              {% endif %}

              <!-- {% if links.exists() %}
                <div class="tile level r">
                  <div class="tile-avatar">
                    <span class="icon">
                      <i class="fas fa-link" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="tile__container">
                    <p class="tile__title">Links:
                    {% for link in links.all() %}
                      <a href="{{ link.href }}" class="tooltip" data-tooltip="{{ link.link.placeholder }}"><i class="fas fa-{{ link.link.icon }}"></i></a>
                    {% endfor %}
                    </p>
                  </div>
                </div>
              {% endif %} -->
            </div>
          </div>

          <div class="row" style="padding: 0; margin: 0">
            <a class="col-6" style="padding: 0; margin: 0">
              <img class="profile-icon vertical-align" src="{{ static('img/default_profile.jpg') }}"/>
              <p class="vertical-align" style="margin: 0; color:#4F4F4F;">By <b>{{ initiative.creators.all()[0].username }}</b></p>
            </a>



            <div class="level col-4 offset-2">
              <a onclick="shareOnReddit(window.location.href.toString())" class="share-social-icon level-content level-item">
                <i class="fas fa-link fa-lg" style="color: #868686;"></i>
              </a>
              <a onclick="shareOnFB(window.location.href.toString())" class="share-social-icon level-content level-item">
                <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>
              </a>
              <a onclick="shareOnTwitter(window.location.href.toString())" class="share-social-icon level-content level-item">
                <i class="fab fa-twitter fa-lg"></i>
              </a>
              <a onclick="shareOnLinkedIn(window.location.href.toString())" class="share-social-icon level-content level-item">
                <i class="fab fa-linkedin fa-lg"></i>
              </a>
              <a onclick="shareOnReddit(window.location.href.toString())" class="share-social-icon level-content level-item">
                <i class="fab fa-reddit fa-lg"></i>
              </a>

              <a onclick="shareOnReddit(window.location.href.toString())" class="share-social-icon level-content level-item">
                <i class="fas fa-bookmark fa-lg" style="color: #4F4F4F;"></i>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-3" style="margin-left: 16px;">

        {% block topright %}
        {% endblock %}

        <div class="buttons">
          {% block buttons %}
            {% if initiative.can_edit(request.user) %}
              <a class="btn btn-primary" href="{{ initiative.get_edit_url() }}"><i class="fas fa-edit"></i> Edit</a>
            {% endif %}
          {% endblock %}
        </div>

        <!-- Tags -->
        <div class="initiative-card">
          <div class="initiative-card-content">
            <h5>Tags</h5>
            {% if initiative.tags.exists() %}
            <div class="row" style="padding-left: 0;">
              {% for tag in initiative.tags.all() %}
              <a class="initiative-tag" href="{{ url('index') }}?type={{ initiative|class_name|lower }}&tag={{ tag.name }}">
                <button class="btn-tag btn--pilled btn-primary btn-small" style="font-weight: 500;">{{ tag.name }}</button>
              </a>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>

        {% block related %}
        {% endblock %}
      </div>

    </div>
  <br>
  {% block frames %}
  {% endblock %}
</div>
{% endblock %}
