{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ static('css/profile.css') }}">
{% endblock %}

{% block body %}
<div class="content">
  <div class="profile-card">
    <h2>Password Change</h2>
    <form action="" method="POST">
      <div class="frame__body">
        {% csrf_token %}
        {{ form }}
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <p> {{ error }} </p>
            {% endfor %}
          {% endfor %}
        {% endif %}
        <input type="submit" class="btn-primary btn--pilled u-pull-right animated" value="Save all">
      </div>
    </form>
  </div>
</div>
{% endblock %}
