<div class="content" style="max-width: 25em;">
  <div class="frame">
    <img class="img-cover" src="{{ static('img/register.png') }}">
    <div class="tab-container tabs-fill">
      <ul>
        <li{% if type == 'Login' %} class="selected"{% endif %}><a href="{{ url('login') }}">Login</a></li>
        <li{% if type == 'Register' %} class="selected"{% endif %}><a href="{{ url('register') }}">Register</a></li>
      </ul>
    </div> 
    <form action="" method="POST">
      <div class="frame__body">
        {% csrf_token %}
        {% for error in form.non_field_errors() %}
          <span class="text-primary info">{{ error }}</span>
        {% endfor %}
        {% for field in form %}
          <div class="form-section">
            <label>{{ field.label_tag() }}</label>
            {{ field }}
          {% for error in field.errors %}
            <span class="text-primary info">{{ error }}</span>
          {% endfor %}
          </div>
        {% endfor %}
        <input type="submit" class="btn-primary u-pull-right animated" value="{{ type }}">
      </div>
    </form>
    <div class="frame__body form-section">
      <label>Or {{ type|lower }} with:</label>
      <div class="row">
        <div class="col"> 
          <a href="{% url "social:begin" "google-oauth2" %}" alt="{{ type }} with Google" title="Google">
            <button href="{% url "social:begin" "google-oauth2" %}" class="btn-grey u-no-margin w-100" >
              <i class="zmdi zmdi-google"></i>&nbsp;<span>Google</span>
            </button>
          </a>
        </div>
        <div class="col"> 
          <a href="{% url "social:begin" "github" %}" alt="{{ type }} with GitHub" title="GitHub">
            <button href="{% url "social:begin" "github" %}" class="btn-grey u-no-margin w-100" >
              <i class="zmdi zmdi-github"></i>&nbsp;<span>GitHub</span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
