{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="content" style="max-width: 30em;">
  <div class="frame">
    <img class="img-cover" src="{% static 'img/register.png' %}">
      <form action="" method="POST">
        <div class="frame__body">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-section">
              <label>{{ field.label_tag }}</label>
              {{ field }}
            {% for error in field.errors %}
              <span class="text-primary info">{{ error }}</span>
            {% endfor %}
            </div>
          {% endfor %}
          <input type="submit" class="btn-primary u-pull-right animated" value="Register">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
