{% extends "base.html" %}

{% block head %}
<title>Account Settings | HackItForward</title>
{% endblock %}

{% block body %}
<div class="content" style="max-width: 800px;">
  <div class="profile-card">
    <h2>Account Settings</h2>
    <form action="" method="POST">
      <div class="frame__body">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn-primary btn--pilled u-pull-right animated" value="Save all">
      </div>
    </form>
  </div>
</div>
{% endblock %}
