{% extends "base.html" %}

{% block head %}
<title>{{ user.username }} | HackItForward</title>
{% endblock %}

{% block body %}
{% include 'login_modal.html' %}
<div class="content">
  <div class="profile-bg" style="background-image: url({{ user.profile.banner_image.url }}); background-repeat: no-repeat;">
  </div>
  <div class="profile-info" style="position: relative;">
    <div class="avatar" style="position: relative;">
      <img class="avatar-image" src="{{ user.profile.image.url }}">
    </div>
    <div class="profile-details">
      <h3 style="margin-bottom: 4px;">
        {{ user.first_name }} {{ user.last_name }} @{{ user.username }}
        {% if user.profile.badges.exists() and verified %}
        <a style="margin-left:5px;" href="#badge-{{ user.profile.badges.get(name='Verified').pk }}" class="tooltip" data-tooltip="{{ user.profile.badges.get(name='Verified') }}">
          <img style="width:25px;height:auto;" src="{{ user.profile.badges.get(name='Verified').icon.url }}">
        </a>
        {% endif %}
      </h3>
      <p style="margin: 0">{{ user.profile.location }}</p>
      <p style="margin:0">{{ user.profile.headline }}</p>
      <p style="margin:0"><a href="#followers" style="color: var(--cirrus-dark);"><b>{{ followers.count() }}</b> follower{{ followers.count()|pluralize }}</a>  <a href="#following" style="color: var(--cirrus-dark);"><b>{{ following.count() }}</b> following</a></p>

      {% if user.profile.badges.exists() %}
      <div>
        <div>
          <span class="tile__title badges">Badges:
            {% for badge in user.profile.badges.all() %}
              {% if not badge.name=='Verified' %}
              <a href="#badge-{{ badge.pk }}" class="tooltip" data-tooltip="{{ badge.name }}">
                <img src="{{ badge.icon.url }}">
              </a>
              <div class="modal modal-animated--zoom-in" id="badge-{{ badge.pk }}">
                <a href="#Profile" class="modal-overlay close-btn" aria-label="Close"></a>
                <div class="modal-content">
                  <div class="modal-body">
                    <br>
                    <h4 class="modal-title">{{ badge.name }}</h4>
                    <p>{{ badge.description }}</p>
                    <img src="{{ badge.icon.url }}">
                  </div>
                  <div class="modal-footer">
                    <div class="u-flex">
                      <div class="level-right level-content">
                        <a href="#Profile" style="display:inline-block">
                          <button class="btn-small">Cancel</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </span>
        </div>
      </div>
    {% endif %}
    </div>

    {% if request.user == user %}
    <a href="{{ url('edit_profile') }}" class="edit-follow-button">
      <button class="btn--pilled btn-white btn-primary" style="color: #4f4f4f;">Edit Profile</button>
    </a>
    {% elif request.user.is_authenticated %}
      {% if is_following_user %}
      <a href="{{ url ('unfollow_user', pk=user.id) }}" style="position: absolute; right: 50px; margin-top: 80px">
        <button class="btn--pilled btn-white btn-primary" style="color: #4f4f4f;">Unfollow</button>
      </a>
      {% else %}
        <a href="{{ url ('follow_user', pk=user.id) }}" style="position: absolute; right: 50px; margin-top: 80px">
          <button class="btn--pilled btn-white btn-primary" style="color: #4f4f4f;">Follow</button>
        </a>
      {% endif %}
    {% else %}
      <a href="#login-modal" style="position: absolute; right: 50px; margin-top: 80px">
        <button class="btn--pilled btn-white btn-primary" style="color: #4f4f4f;">Follow</button>
      </a>
    {% endif %}

  </div>

  <div class="tab-container">
    <ul>
      <li class="tablevel selected" onclick="openTab(event, 'bio')"><a class="" style="background-color: transparent; font-size: large;">Bio</a></li>
      <li class="tablevel" onclick="openTab(event, 'submissions')"><a class="" style="background-color: transparent; font-size: large;">Submissions</a></li>
      <li class="tablevel" id="tab-bookmarks" onclick="openTab(event, 'bookmarks')" ><a class="" style="background-color: transparent; font-size: large;">Bookmarks</a></li>
    </ul>
  </div>

  <div class="tabcontent" id="bio" style="display: block;">
    <div class="row">
      <div class="col-6">
        <div class="profile-card">
          <h6 style="margin-top: 0px;">About Me</h6>
          {% if user.profile.description %}
            <p>{{ user.profile.description|mistune }}</p>
          {% else %}
            <p>I haven't had a chance to write a bio about myself yet :(</p>
          {% endif %}
          {% if user.profile.tags.exists() %}
            <h6>My Skills</h6>
            <div class="row">
              {% for tag in user.profile.tags.all() %}
              <a class="skills-tag" href="">
                <button class="btn-tag btn--pilled btn-primary btn-small" style="font-weight: 500;">{{ tag.name }}</button>
              </a>
              {% endfor %}
            </div>


        {% endif %}
        </div>
      </div>

      
        <div class="col-3">
          {% if links.exists() %}
          <div class="row">
            <div class="profile-card">
              <h4 style="margin-top: 0;">Connect</h4>
              <div class="level">
                <!-- <a href="mailto:{{ request.user.email }}" target="_blank" class="share-social-icon level-content level-item">
                  <i class="fas fa-envelope fa-lg" aria-hidden="true" style="color: #4F4F4F;"></i>
                </a> -->
                {% for link in links.all() %}
                  <a class="share-social-icon level-content level-item" href="{{ link.content|e }}" target="_blank" style="margin: 0.5rem 1rem;"><i class="{% if link.icon == 'link' or link.icon == 'envelope' %} fas {% else %} fab {% endif %} fa-{{ link.icon }} fa-2x"></i></a>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
          {% if user.profile.badges.exists() %}
          <div class="row">
            <div class="profile-card">
              <h4 style="margin-top: 0;">Achievements</h4>
              <div class="level">
                {% for badge in user.profile.badges.all() %}
                  <img src="{{ badge.icon.url }}" height="48" width="48"></img>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      

    </div>
  </div>

  {% include 'project_modal.html' %}


  <div class="tabcontent" id="submissions">
    {% for project in projects %}
      {% include 'project_preview_card.html' %}
    {% endfor %}

    {% if not projects %}
      <div class="col-12">
        {% if user.profile != profile %}
          <p>{{ user.username }} has not created or contributed to any projects yet.</p>
        {% else %}
        <p>No projects yet! Check out <a href="{{ url('index') }}">Explore</a> for some challenges to submit to and projects to contribute to.</p>
        {% endif %}
      </div>
    {% endif %}
  </div>

  <div class="tabcontent" id="bookmarks">
    <div class="row">
      {% for bookmark in bookmarks %}
        {% set challenge = bookmark.obj %}
        {% include 'challenge_preview_card.html' %}
      {% endfor %}
      {% if not bookmarks %}
      <div class="col-12">
        {% if user.profile != profile %}
          <p>{{ user.username }} has no bookmarks.</p>
        {% else %}
        <p>No bookmarks yet! Check out <a href="{{ url('index') }}">Explore</a> for some challenges to bookmark.</p>
        {% endif %}
      </div>
    {% endif %}
    </div>
  </div>

<div class="modal modal-large modal-animated--zoom-in" id="followers">
  <a href="#searchModalDialog" class="modal-overlay close-btn" aria-label="Close"></a>
  <div class="modal-content" style="border-radius: 8px; background-color: #F6F8FB; min-height: 80%; min-width: 60%;">
    <div class="modal-body" style="padding: 2rem 2rem; max-height: 85vh;">
      <div class="col">
        <h3 style="margin-bottom:1rem;">Followers ({{ followers.count() }})</h3>
        {% if followers.count() == 0 %}
        <div class="row">
          No followers for now!
        </div>
        {% else %}
        {% for follower in followers %}
        <div class="row user-follow" style="background-color:white;">
          <div class="avatar" style="position: relative;">
            <img class="avatar-image" src="{{ follower.user_id.profile.image.url }}">
          </div>
          <p><a href="{{ url('user', username=follower.user_id.username) }}" style="color: var(--cirrus-dark);">{{ follower.user_id.username }}</a></p>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="modal modal-large modal-animated--zoom-in" id="following">
  <a href="#searchModalDialog" class="modal-overlay close-btn" aria-label="Close"></a>
  <div class="modal-content" style="border-radius: 8px; background-color: #F6F8FB; min-height: 80%; min-width: 60%;">
    <div class="modal-body" style="padding: 2rem 2rem; max-height: 85vh;">
      <div class="col">
        <h3 style="margin-bottom:1rem;">Following ({{ following.count() }})</h3>
        {% if following.count() == 0 %}
        <div class="row">
          Not following anyone right now!
        </div>
        {% else %}
        {% for following_user in following %}
        <div class="row user-follow">
          <div class="avatar" style="position: relative;">
            <img class="avatar-image" src="{{ following_user.following_user_id.profile.image.url }}">
          </div>
          <p><a href="{{ url('user', username=following_user.following_user_id.username) }}" style="color: var(--cirrus-dark); font-weight:700;">{{ following_user.following_user_id.username }}</a></p>
          <a href="{{ url ('unfollow_user', pk=following_user.following_user_id.id) }}" class="btn-follow">
            <button class="btn--pilled btn-white btn-primary" style="color: #4f4f4f;">Unfollow</button>
          </a>
        </div>
        {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
