{% extends "base.html" %}

{% block head %}
<title>{{ user.username }} | HackItForward</title>
{% endblock %}

{% block body %}
<div class="content">
  <div class="profile-bg" style="background-image: url({{ user.profile.banner_image.url }}); background-repeat: no-repeat;">
  </div>
  <div class="profile-info" style="position: relative;">
    <div class="avatar" style="position: relative;">
      <img class="avatar-image" src="{{ user.profile.image.url }}">
    </div>
    <div class="profile-details">
      <h3 style="margin-bottom: 4px;">{{ user.first_name }} {{ user.last_name }} @{{ user.username }}</h3>
      <p style="margin: 0">{{ user.profile.location }}</p>
      <p style="margin:0">{{ user.profile.headline }}</p>

      {% if user.profile.badges.exists() %}
      <div>
        <div>
          <span class="tile__title badges">Badges:
            {% for badge in user.profile.badges.all() %}
              <a href="#badge-{{ badge.pk }}" class="tooltip" data-tooltip="{{ badge.name }}">
                <img src="{{ badge.icon.url }}">
              </a>
              <div class="modal modal-animated--zoom-in" id="badge-{{ badge.pk }}">
                <a href="#Profile" class="modal-overlay close-btn" aria-label="Close"></a>
                <div class="modal-content">
                  <div class="modal-body">
                    <br>
                    <h4 class="modal-title">{{ badge.name }}</h4>
                    <p>{{ badge.description }}</p>
                    <img src="{{ badge.icon.url }}">
                  </div>
                  <div class="modal-footer">
                    <div class="u-flex">
                      <div class="level-right level-content">
                        <a href="#Profile" style="display:inline-block">
                          <button class="btn-small">Cancel</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </span>
        </div>
      </div>
    {% endif %}
    </div>

    {% if request.user == user %}
    <a href="{{ url('edit_profile') }}" style="position: absolute; right: 50px; margin-top: 80px">
      <button class="btn--pilled btn-white btn-primary" style="color: #4f4f4f;">Edit Profile</button>
    </a>
    {% endif %}

  </div>

  <div class="tab-container">
    <ul>
      <li class="tablevel selected" onclick="openTab(event, 'bio')"><a class="" style="background-color: transparent; font-size: large;">Bio</a></li>
      <li class="tablevel" onclick="openTab(event, 'submissions')"><a class="" style="background-color: transparent; font-size: large;">Submissions</a></li>
      <!-- TODO: Implement bookmarks -->
      <!-- <li class="tablevel" onclick="openTab(event, 'bookmarks')" ><a class="" style="background-color: transparent; font-size: large;">Bookmarks</a></li> -->
    </ul>
  </div>

  <div class="tabcontent" id="bio" style="display: block;">
    <div class="row">
      <div class="col-6">
        <div class="profile-card">
          <h6 style="margin-top: 0px;">About Me</h6>
          {% if user.profile.description %}
            <p>{{ user.profile.description|mistune }}</p>
          {% else %}
            <p>I haven't had a chance to write a bio about myself yet :(</p>
          {% endif %}
          {% if user.profile.tags.exists() %}
            <h6>My Skills</h6>
            <div class="row">
              {% for tag in user.profile.tags.all() %}
              <a class="skills-tag" href="">
                <button class="btn-tag btn--pilled btn-primary btn-small" style="font-weight: 500;">{{ tag.name }}</button>
              </a>
              {% endfor %}
            </div>


        {% endif %}
        </div>
      </div>


      {% if links.exists() %}
        <div class="col-3">
          <div class="profile-card">
            <h4 style="margin-top: 0;">Connect</h4>
            <div class="level">
              <!-- <a href="mailto:{{ request.user.email }}" target="_blank" class="share-social-icon level-content level-item">
                <i class="fas fa-envelope fa-lg" aria-hidden="true" style="color: #4F4F4F;"></i>
              </a> -->
              {% for link in links.all() %}
                <a class="share-social-icon level-content level-item" href="{{ link.content|e }}" target="_blank"><i class="fab fa-{{ link.icon }} fa-2x"></i></a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

    </div>
  </div>

  {% for project in projects %}
  <div class="modal modal-large modal-animated--zoom-in" id="{{ project.name }}">
    <a href="#searchModalDialog" class="modal-overlay close-btn" aria-label="Close"></a>
    <div class="modal-content" style="border-radius: 8px; background-color: #F6F8FB; min-height: 80%; min-width: 60%;">
      <div class="modal-body" style="padding: 1rem 1rem; max-height: 85vh;">
        <div class="row">
          <div class="col-6">
            {% if project.image %}
            <div class="initiative-card-image" style="background-image: url({{ project.image.url }})"></div>
            {% else %}
              <div class="initiative-card-image" style="background-image: url({{ static('img/polar-bear.png') }})"></div>
            {% endif %}
            <!-- <div class="initiative-card" style="margin-top: 1rem;">
              <div class="initiative-card-content">
                <p style="font-size: 20px;">Give Feedback</p>
                <input placeholder="Give your feedback">
              </div>
            </div> -->
            <div class="initiative-card" style="margin-top: 1rem;">
              <div class="initiative-card-content">
                <h3 style="font-size: 20px;">Team</h3>

                {% for creator in project.creators.all() %}
                  <div class="row pointer" onclick="location.href='{{ url("user", username=creator.username) }}'">
                    <div class="col-3">
                      <img src="{{ creator.image.url }}" style="border-radius: 50%; max-height: 60px;">
                    </div>
                    <div class="col-9">
                      <h6 style="margin: 0;">{{ creator.username }}</h6>
                      <p style="margin: 0">{{creator.description|truncatechars(30) }}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="initiative-card">
              <div class="initiative-card-content">
                <h1 style="font-size: 20px; margin-top: 0px;">{{ project.name }}</h1>
                <p class="grey" style="font-weight: 400;">{{ project.description }}</p>

                {% if project.can_edit(request.user) %}
                  <a href="{{ project.get_edit_url() }}">
                    <button class="btn--pilled btn-primary">Edit Project</button>
                  </a>
                {% endif %}
              </div>
            </div>

            <!-- TODO: Implement tools option for database -->
            <!-- <div class="initiative-card">
              <div class="initiative-card-content">
                <h4>Tools Used</h4>

              </div>
            </div> -->
            {% if project.tags.exists() %}
            <div class="initiative-card">
              <div class="initiative-card-content">
                <div class="row">
                  {% for tag in project.tags.all() %}
                  <a class="initiative-tag" href="{{ url('explore') }}?type={{ initiative|class_name|lower }}&tag={{ tag.name }}">
                    <button class="btn-tag btn--pilled btn-primary btn-small" style="font-weight: 500;">{{ tag.name }}</button>
                  </a>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}


  <div class="tabcontent" id="submissions">
    {% for project in projects %}
      <div class="initiative-card">
        <a href="#{{ project.name }}">
          <div class="project-card-content row">
            {% if project.image %}
              <div class="project-card-image-preview col-3" style="background-image: url({{ project.image.url }})"></div>
            {% else %}
              <div class="project-card-image-preview col-3" style="background-image: url({{ static('img/polar-bear.png') }})"></div>
            {% endif %}

            <div class="col-7" style="padding-left: 32px;">
              <h3 class="">{{ project.name }}</h3>
              <p class="grey">{{ project.description|truncatechars(100) }}</p>
                <a href="{{ url('user', username=project.creators.first().username) }}">
                  <div class="row">
                    <img class="profile-icon" src="{{ project.creators.first().image.url }}"/>
                    <p style="font-weight: 500; margin:0" class="grey">{{ project.short_creators }}</p>
                  </div>
                </a>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}

    {% if not projects %}
      <div class="col-12">
        {% if user != profile %}
          <p>{{ user.username }} has not created or contributed to any projects yet.</p>
        {% else %}
        <p>No projects yet! Check out <a href="{{ url('index') }}">Explore</a> for some challenges to submit to and projects to contribute to.</p>
        {% endif %}
      </div>
    {% endif %}
  </div>

  <div class="tabcontent" id="bookmarks">
    <div class="row">

    </div>
  </div>
</div>
{% endblock %}
</html>
