<!-- homepage for the user -->
{% extends "base.html" %}
{% load static %}
{% get_media_prefix %}

{% block head %}
<title>{{ profile.username }}'s Home | Stratus</title>
<link href="{% static 'css/userhome.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<section class="block">
	<h2>Dashboard</h2>
	<br>
	<h4>Projects involved in</h4>
	<div class="row">
		{% for project in projects %}
		<div class="col-4 pointer-cursor" onclick="location.href=`{% url 'project' pk=project.pk %}`">
			<div class="card u-flex-column h-100">
				<div class="card-container">
					<div class="card-image" style="background-image: url({{ project.image.url }})"></div>
				</div>
				<div class="content" style="margin-top:10px;margin-bottom:10px !important">
					<div class="tile">
						<div class="tile__container">
							<p class="tile__title">{{ project.name }}</p>
							<p class="tile__subtitle">
								{% if profile in project.creators.all %}
								Creator
								{% elif profile in project.contributors.all %}
								Contributor
								{% endif %}
							</p>
						</div>
					</div>
				</div>
				<div class="card-footer content">
					{% for tag in project.tags.all|slice:':3' %}
					<div class="tag white" style="background-color: {{ tag.color }}">{{ tag.name }}</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section class="block">
	<h2>Profile</h2>
	<div class="card">
		<div class="profile-info">
			<span class="label">Username:</span>
			<div class="values">
				<span>{{ profile.username }}</span>
			</div>
		</div>
		<div class="profile-info">
			<span class="label">Badges:</span>
			<div class="values">
			{% for badge in profile.badges.all %}
			<a href="#badge-{{badge.pk}}">
				<img class="badge" src="{{ badge.icon.url }}">
			</a>
			<div class="modal modal-animated--zoom-in" id="badge-{{badge.pk}}">
				<a href="#" class="modal-overlay close-btn" aria-label="Close"></a>
				<div class="modal-content">
					<div class="modal-body">
						<br>
						<h4 class="modal-title">{{ badge.name }}</h4>
						<p>{{ badge.description }}</p>
						<img style="height:100px" src="{{ badge.icon.url }}">
					</div>
					<div class="modal-footer">
						<div class="u-flex">
							<div class="level-right level-content">
								<a href="#" style="display:inline-block">
									<button class="btn-small">Cancel</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			</div>
		</div>
		<div class="profile-info">
			<span class="label">Links:</span>
			<div class="values">
			{% for link in links.all %}
			  <a href="{{ link.href }}"><i class="zmdi zmdi-{{ link.link.icon }}"></i></a>
			{% endfor %}
			</div>
		</div>
		<div class="profile-info">
			<span class="label">Description:</span>
			<div class="values">
				<span>{{ profile.description }}</span>
			</div>
		</div>
		<div class="profile-info">
			<span class="label">Interests:</span>
			<div class="values">
				{% for tag in profile.tags.all %}
				<span class="tag" style="background-color: {{ tag.color }}">{{ tag.name }}</span>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

{% endblock %}
</html>
