<!-- homepage for the user -->
{% extends "base.html" %}
{% load static %}

{% block head %}
	<title>{{ profile.username }}'s Home | Stratus</title>
	<link href="{% static 'css/userhome.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
	<section class="block">
		<h2>Dashboard</h2>
		<div class="card">
			<div class="project">
				{% for project in projects %
				<img src="{%project.image%}">
				<div class="info">
					
					<h4>{%project.name%}</h4>
					<br>
					<span>{%project.name%}</span>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<section class="block">
		<h2>Profile</h2>
		<div class="card">
			<div class="profile-info">
				<span class="label">Username:</span>
				<div class="values">
					<span>{{ profile.username }}</span>
				</div>
			</div>
			<div class="profile-info">
				<span class="label">Badges:</span>
				<div class="values">
					
				</div>
			</div>
			<div class="profile-info">
				<span class="label">Links:</span>
				<div class="values">
					<a href="https://github.com/github">https://github.com/github</a>
					<a href="https://github.com/github">https://linkedin.com/profile</a>
					<a href="https://github.com/github">https://personalWebsite.com/</a>
				</div>
			</div>
			<div class="profile-info">
				<span class="label">Description:</span>
				<div class="values">
					<span>{{ profile.description }}</span>
				</div>
			</div>
			<div class="profile-info">
				<span class="label">Interests:</span>
				<div class="values">
					{% for tag in profile.tags.all %}
					<span class="tag" style="background-color: {{ tag.color }}">{{ tag.name }}</span>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

{% endblock %}
</html>
